@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 6% 12%;
    --foreground: 0 0% 98%;

    --card: 240 5% 15%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 5% 15%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 263 70% 60%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 240 4% 18%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 4% 18%;
    --muted-foreground: 240 5% 65%;
    
    --accent: 240 4% 18%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 18%;
    --input: 240 4% 18%;
    --ring: 263 70% 60%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle at top center, hsl(var(--primary) / 0.08), transparent 50%);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}